nav{
    background-color: #000;
    width: 100%;
    transition: all .3s ease-in-out;
    .nav-bar{
        display: grid;
        grid-template-columns: 4fr 8fr;
        .logo{
            font-size: 35px;
            margin: 12px 0;
            a{
                color: rgb(255, 255, 255);
            }
        }
        .nav-links{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            ul li{
                display: inline-block;
                a{
                    padding: 20px;
                    color: #ffffffb8;
                    font-weight: bold;
                    &:hover{
                        color: #FFF;
                    }
                }
            }
        }
    }
}
.fixed-top{
    position: fixed;
    top: 0;
    z-index: 3;
}